body{
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Courier New', Courier, monospace;
  align-items: center;
  height:100vh;
  justify-content: center;
  background: url("https://images.unsplash.com/photo-1475924156734-496f6cac6ec1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fG5hdHVyZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=700&q=60");
  background-size:cover;
  overflow: hidden;
  

}

h2{
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 24px;
  text-align: center;

}

.clock{
  display: flex;

}
.clock div{
  margin: 5px;
  position: relative;

}

.clock span{
  width: 100px;
  height: 80px;
  background: slateblue;
  opacity: 80%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-shadow: 2px 2px 4px rgba(0,0,0,.3);


}

.clock .text{
  height: 30px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: darkgreen;
  opacity: 0.8;
}

.clock #am{
  bottom: 0;
  position: absolute;
  width: 60px;
  height: 50px;
  font-size: 25px;
  background-color: rgb(14, 15, 15);
}

